html{
    font-size: 20px;
    font-family:'Segoe UI';
    color:black;
    text-shadow: 5px 5px 20px black;
}

body{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}


#porta{
    border-style: solid;
    border-color: black;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    background-color:aliceblue;
    box-shadow: 5px 10px black;
    height: 60%;
    width: 100%;
    overflow: hidden;
} 

#porta:active{
    flex-direction: row-reverse;
}

#flex{
    display: none;
}

@media screen and (min-width:550px) {
    #flex{
        display: flex;
        flex-direction: column-reverse;
        width:300px;
    }
    
    h1{
        display:none;
    }
 }

p:hover{
    font-size: 1.2em;
}

img:active{
    filter:grayscale(100%);
    box-shadow: 15px 15px 5px black;
    
}