html{
    font-size: 20px;
    font-family:'Segoe UI';
    color:black;
    text-shadow: 5px 5px 20px black;
}

#copiaImagen,#originalImagen{
    position: absolute;
}

body{
    display:flex;
    align-items: center;
    justify-content: center;
}

img{
    height: 250px;
    width: 300px;
}

#porta{
    position: absolute;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content:space-evenly;
    align-items:flex-start;
    background-color:aliceblue;
    box-shadow: 5px 10px black;
    height: 50%;
    width: 95%;
    overflow: hidden;
} 

#porta:active{
    flex-direction: row-reverse;
}

#flex{
    display: none;
}

@media screen and (min-width:550px) {
    #flex{
        display: flex;
        flex-direction: column-reverse;
        width:300px;
    }
    
    h1{
        display:none;
    }
 }

p:hover{
    font-size: 1.2em;
}

#flex:active #copiaImagen{
    transform: scale(1,-1)translate(10%,90%);
    transform-origin: bottom;
    filter: blur(20px) brightness(5%);
}

#originalImagen:active{
    filter: grayscale(100%);
}

